* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

img {
    width: 18vw;
    height: 35vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.green {
    color: green;
}

.icon {
    font-family: 'Roboto', sans-serif;
}